@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*,
*::before,
*::after {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

p {margin-bottom: 0;}
button {border: none;}
:root {font-size: 62.5%;}

html {
    font-size: 62.5%; 
    font-family: 'Prata', serif;
    font-family: 'Poppins', sans-serif; 
    font-style: normal;
    line-height: normal;
}

body { 
    border-left: 2px solid red;
    border-right: 2px solid red;  
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

header {    
    min-height: 1080px;
    height: auto;
    max-width: 1920px; 
    width: auto;  
    background-image: url("../img/hero/Rectangle\ 1.svg");
    background-position: right;  
    position: relative;  
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1420px;
    width: 100%;
    min-height: 26px;
    height: auto;
    margin-top: 20px;  
    position: absolute;
    top: 0;  
    left: 50%;  
    transform: translate(-50%, -50%);  
}

.nav-brand {
    margin-top: 20px;
}

.nav-lang {
    color: #000;
    font-family: Poppins;
    font-size: 1.6rem;  
    font-weight: 400;   
    height: 24px;  
}

.nav-lang__drop {
    margin: 9px 12px 9px 9px;
}

.nav-title {
    color: #000;
    font-family: Prata;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 2.4px;
    text-transform: uppercase; 
}

.nav-subtitle {
    color: #000;
    font-family: Poppins;
    font-size: .3rem;   
    font-weight: 400;
    letter-spacing: 4.665px;
    text-transform: uppercase;
    text-align: center;
    
}

.header-content {   
    max-width: 1070px; 
    width: 100%;
    min-height: 1080px;
    height: auto;
    z-index: 9999;
    padding-left: 250px;
    background-color: #FFF8EB;
}

.header-title {
    color: #000;
    font-family: Prata;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    padding-top: 324px;
    max-width: 797px;
    width: 100%;
    height: auto;
    margin-right: 25px;    
}

.header-subtitle {
    max-width: 652px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    color: #000;
    font-family: Poppins;
    font-size: 2rem;  
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.header-search {
    display: flex;
    align-items: center;
    margin-top: 60px;
    width: 1060px; 
    min-height: 100px; 
    height: auto;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 9999;
}

.header-search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}


.header-search-guests,
.header-search-checkin,
.header-search-checkout {
    display: flex;
    flex-direction: row;
    margin-left: 28px;

}

.header-search-checkin {
    margin-left: 30px;
}

.header-search__icon {
    margin-left: 59px;   
}

.header-search-guests__childs,
.header-search-guests__guests {
    display: flex;
    flex-direction: row;
}

.header-search-icon__date,
.header-search-guests__guests__icon__down {
     align-self: flex-end;
}

.header-search-icon__down {
    margin-left: 10px;
}

.header-search-guests__childs {
    margin-left: 20px;
    align-self: flex-end;
}

.header-search__title {
    color: #000;
    font-family: Poppins;
    font-size: 14px;   
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.28px;
    text-transform: uppercase;
}

.header-search__subtitle  {
    color: #000;
    font-family: Poppins;
    font-size: 14px; 
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
    text-transform: capitalize;
}

.header-search__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search__btn button {
    width: 260px;
    height: 50px; 
    background: #EEC78C;
    color: #000;
    font-family: Poppins;
    font-size: 1.4rem;    
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
    text-transform: capitalize; 
    margin: 25px 46px;
}

@media screen and (max-width:1360px) {
    header { 
        background-image: none;
    }
    .header-content {        
        padding-left: 0;
        text-align: center; 
        margin: 0 auto;       
    }
    .header-title {
        width: 100%;
        padding-top: 224px;
        word-wrap: break-word;
        margin: 0 auto 70px auto; 
        font-size: 6.4em;  
    }    
    .header-subtitle {
        width: 100%;
        margin: 70px auto 70px auto;
    }
    .header-search {
        width: 95%;
        margin: 120px auto 0 auto;
        text-align: center;
    }
    .header-search-guests,
    .header-search-checkin,
    .header-search-checkout {
       width: 33%;        
        display: flex;  
        margin-left: 0;    
        flex-direction: column;
    }
    .header-search__btn{
        margin: auto auto;  
    }
    .header-search-wrapper {
        justify-content: center;
    }
    .header-search-guests__guests, 
    .header-search-guests__childs,
    .header-search-guests {
        flex-direction: row;           
        justify-items: center;     
    }
    .header-search-guests__guests__quantity,
    .header-search-guests, 
    .header-search-guests__childs{
        flex-direction: column;
        justify-items: center;
        margin: 0 auto;
        
    }
    .header-search-guests__guests {
        width: auto;
    }

    .header-search-guests__childs {
        flex-direction: row;
    }

    .header-search__icon  {      
        display: none;
    }
}

@media screen and (max-width: 678px) {
    .header-search-guests,
    .header-search-checkin,
    .header-search-checkout {
       width: 100%;  
    } 
}

#welcome {
    padding: 150px 257px 150px 250px;
    font-family: Poppins;
    font-weight: 400;
    height: auto;
    width: 100%;
}

.welcome-wrapper { 
    display: flex;
    flex-wrap: wrap;
    gap: 54px;   
    max-width: 1413px;
    width: auto;
    min-height: 645px; 
    height: auto;
    margin: 0 auto;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 700px;
    width: auto;
    height: auto;
}

.welcome-content__title{
    margin-top: 76px; 
    font-size: 1.4rem;
    letter-spacing: 7px;
    text-transform: capitalize;
}

.welcome-content__subtitle { 
    font-family: Prata;
    font-size: 3.4rem; 
    line-height: 150%;
    word-wrap: break-word;
    letter-spacing: 1.28px;
    text-transform: capitalize;
    max-width: 700px;
    width: auto;
    height: auto;
}

.welcome-content__desc {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 700px;
    width: auto;
    min-height: 147px;   
    height: auto;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.28px;
    text-transform: capitalize;
}

.welcome-content__contact {
    display: flex;
    gap: 15px;
}

.welcome-content__contact-name { 
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize; 
}

.welcome-content__contact-phone { 
    font-size: 2rem;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.welcome-content__contact-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-img {
    position: relative;
    width: 683px;
    min-height: 645px;
    height: auto; 
}

.welcome-img__right {
    position: absolute;
    background-image: url('../img/welcome/Rectangle\ 6_top.svg');   
    top: 0;
    right: 0;
    width: 450px;
    height: 500px;  
}

.welcome-img__left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 450px;
    height: 500px;
    z-index: 9999;
    background-image: url('../img/welcome/Rectangle\ 5_bottom.svg');
}

@media screen and (min-width: 1000px) {
    .welcome-wrapper {         
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 1665px) {
    .welcome-content__subtitle, 
    .welcome-content__desc {
        max-width: 1500px;
        margin: 0 auto;
        width: 80%;
    }   
    
    .welcome-content, 
    .welcome-img,
    .welcome-content__subtitle {
        text-align: center;
        width: 100%;
    }

    .welcome-content__contact {
        justify-content: center;
    }
    
    #welcome {
        padding: 0 0;
    } 
    
    .welcome-wrapper { 
        flex-direction: column;
    }

    .welcome-img {
        display: flex;
        flex-direction: row;
        gap:30px;
        margin-top: 50px;
        justify-content: center;
    }
    .welcome-img__left{   
        position: unset;  
        background-repeat: no-repeat;
    }

    .welcome-img__right{      
        position: unset;          
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 945px) {
    .welcome-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:30px;
        margin-bottom: 70px;
        margin-top: 50px;
    } 
    .welcome-img__left{   
        width: 90%;
        height: 500px;
        background-size: cover;
        background-position: bottom;
    }

    .welcome-img__right{      
        width: 90%;  
        max-height: 1000px;
        background-size: cover;
        background-position: bottom; 
    }     
}

@media screen and (max-width: 477px){
    .welcome-img__left{   
        width: 90%;        
    }

    .welcome-img__right{      
        width: 90%; 
        margin-top: 50px;       
        margin-bottom: 150px;
    }
    .welcome-content__subtitle, 
    .welcome-content__desc {
        max-width: 1500px;
        margin: 0 auto;
        width: 95%;
    } 
   
}

#about {
    background: #FFF8EB;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 1200px; 
    height: auto;
    width: 100%;
    padding: 0 250px;
}

.about-top {
    display: flex;
    flex-direction: row;
    margin-top: 86px; 
    flex-wrap: wrap; 
}

.about-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 114px;
}

.about-top__img, .about-bottom__content {
    max-width: 695px;
    width: 100%;
    min-height: 500px;
}

.about-bottom__img, .about-top__content {
    max-width: 725px;
    width: 100%;
    min-height: 500px;
}

.about-top__content {
    margin-top: 72px;
    padding-left: 102px;
}

.about-bottom__content {
    margin-top: 72px;  
}

.about-top__img {
    background-image: url('../img/about/Rectangle\ 8_top.svg');
    background-size: 695px 500px;
}

.about-bottom__img {
    background-image: url('../img/about/Rectangle\ 9_bottom.svg');
    background-size: 725px 500px;
    background-position: bottom;
}

.about-title {  
    color: #000;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 7px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-subtitle {
    font-family: Prata;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 150%;
    max-width: 525px;
    width: auto;
    letter-spacing: 0.96px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-desc {
    max-width: 623px;
    width: auto;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.about-btn {
    display: inline-flex;
    padding: 14px 64px;
    align-items: flex-start;
    gap: 10px;
    background: #EEC78C;   
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
    text-transform: capitalize;
}

@media screen and (min-width: 1920px) {
    .about-top, .about-bottom {         
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 1919px) {
    .about-top, .about-bottom {         
        justify-content: center;    
        text-align: center;
        margin: 0;          
    }
    .about-wrapper {
        justify-content: center;    
        text-align: center;
        padding: 70px 20px;
    }
    .about-subtitle {
        width: 100%;
    }
    .about-top__content, .about-desc,.about-subtitle {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        justify-content: center;    
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .about-btn {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 500px) {
    .about-btn {
        margin-bottom: 50px;
    }
}

#testimonial {
    display: flex;  
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.testimonial-wrapper {
    display: flex;
    flex-direction: row;
    gap: 234px;
    max-width: 1419px;
    width: 100%;
    min-height: 700px;
    height: auto;
    border: 1px solid red;
}

.testimonial-content {
    width: 585px;
    height: 700px; 
    border: 2px solid pink;
}

.testimonial-image {
    display: block;
    width: 600px;
    height: 700px;    
    background-image: url('../img/testimonial/backgound.png');
    background-size: cover;
    
}

